{% extends 'base.html' %}
{% load bootstrap4 %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
      <div class="job_filter white-bg">
                            <div class="job_filter white-bg">
                                <div class="form_inner white-bg">
                                    <form method="GET">
                                        {% bootstrap_form myfilter.form %}

                                        <input type="submit" value="Search" class="boxed-btn3 w-100 mt-2">
                                    </form>
                                </div>
                            </div>


                          </div>
    </div>
  </div>


</div>
<div class="text">
  <div class="container mt-5">
    <div class="row ">
     {% for car in car_list %}
        <div class="card ml-4 mt-3 mb-3" style="width: 20rem;">
        <img class="card-img-top" src="{{car.image.url}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">
            <a href="{{car.get_absolute_url}}"><h4>{{car.name}}</h4></a></h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      {% endfor %}
        </div>
      <div class="row">
                            <div class="col-lg-12">
                                <div class="pagination_wrap">
                                    <ul>
                                      {% if car_list.has_previous %}
                                          <li><a href="?page={{jobs.previous_page_number}}"> <i class="ti-angle-left"></i> </a></li>
                                      {% endif %}
                                      {% for i in car_list.paginator.page_range %}
                                          <li><a href="?page={{i}}"><span>{{i}}</span></a></li>
                                      {% endfor %}

                                      {% if car_list.has_next %}
                                          <li><a href="?page={{jobs.next_page_number}}"> <i class="ti-angle-right"></i> </a></li>
                                      {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
  </div>
</div>



{% endblock body %}
